#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

svg {
  fill: black;
  color: black;
}

.for-hover:hover svg, .for-hover:hover p, .for-hover:focus svg, .for-hover:focus p {
  fill: #FF875C;
  color: #FF875C;
  cursor: pointer;
}

.for-hover-2:hover svg, .for-hover-2:hover p, .for-hover-2:focus svg, .for-hover-2:focus p {
  stroke: #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
}

.for-hover-3:hover svg, .for-hover-3:hover p, .for-hover-3:focus svg, .for-hover-3:focus p {
  stroke: #96C5B0;
  color: #96C5B0;
  cursor: pointer;
}
